<screen name="XStreamityMenu" position="0,0" size="2560,1440" backgroundColor="#4757b5" flags="wfNoBorder">
	<widget source="session.VideoPicture" render="Pig" position="2304,0" size="256,144" backgroundColor="#004757b5" transparent="0" zPosition="-1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XStreamity/skin/uhd/toys/images/background2.jpg" alphatest="off" position="0,0" size="2560,1440" zPosition="-1"/>
	<widget name="splash" pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XStreamity/skin/uhd/toys/images/splash.jpg" alphatest="off" position="0,0" size="2560,1440" zPosition="1000"/>
	<widget source="global.CurrentTime" render="Label" position="1987,0" size="534,80" font="xstreamitybold;36" foregroundColor="#ffffff" backgroundColor="#4c82cd" valign="center" halign="right" transparent="1">
		<convert type="ClockToText">Format:%H:%M | %A %-d %b</convert>
	</widget>
	<widget source="Title" render="Label" position="center,356" size="2560,94" foregroundColor="#ffffff" backgroundColor="#109dd2" halign="center" font="xstreamitybold;48" transparent="1"/>
	<widget source="list" render="Listbox" position="center,440" size="984,800" foregroundColor="#ffffff" backgroundColor="#0945b8" foregroundColorSelected="#004e98" backgroundColorSelected="#9bb1e6" selectionPixmap="/usr/lib/enigma2/python/Plugins/Extensions/XStreamity/skin/uhd/toys/images/selection2.png" backgroundPixmap="/usr/lib/enigma2/python/Plugins/Extensions/XStreamity/skin/uhd/toys/images/blank.png" itemHeight="160" scrollbarMode="showOnDemand" enableWrapAround="1" transparent="1" zPosition="2">
		<convert type="TemplatedMultiContent">{"template": [
			MultiContentEntryText(pos=(120, 0), size=(864, 160), font=0, color = 0x00ffffff, color_sel = 0x00004e98, backcolor_sel = None, flags = RT_HALIGN_LEFT|RT_VALIGN_CENTER, text = 1),
			],
			"fonts": [gFont("xstreamitybold", 64)],
			"itemHeight": 160,
			"scrollbarMode": "showOnDemand"
			}</convert>
	</widget>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XStreamity/skin/uhd/common/divider.png" position="center,598" size="984,6" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XStreamity/skin/uhd/common/divider.png" position="center,758" size="984,6" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XStreamity/skin/uhd/common/divider.png" position="center,918" size="984,6" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XStreamity/skin/uhd/common/divider.png" position="center,1078" size="984,6" alphatest="blend" zPosition="1"/>
	<widget source="key_red" render="Pixmap" pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XStreamity/skin/uhd/common/key_red.png" position="1000,1375" size="51,51" alphatest="blend" zPosition="2"/>
	<widget source="key_red" render="Label" position="1070,1360" size="320,80" font="xstreamitybold;32" foregroundColor="#ffffff" backgroundColor="#1f5792" valign="center" transparent="1" noWrap="1" zPosition="2"/>
	<widget source="key_green" render="Pixmap" pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XStreamity/skin/uhd/common/key_green.png" position="1400,1375" size="51,51" alphatest="blend" zPosition="2"/>
	<widget source="key_green" render="Label" position="1470,1360" size="320,80" font="xstreamitybold;32" foregroundColor="#ffffff" backgroundColor="#1f5792" valign="center" transparent="1" noWrap="1" zPosition="2"/>
</screen>
