Package: enigma2-plugin-extensions-xstreamity
Version: 2.67-20201207
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: IPTV Xtream Codes playlists player by KiddaC
Source: https://www.linuxsat-support.com
