Package: enigma2-plugin-extensions-xstreamity
Version: 2.93-20210418
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: IPTV Xtream Codes playlists player by KiddaC
Source: https://www.linuxsat-support.com
