Package: enigma2-plugin-extensions-xstreamity
Version: 4.14-20230916
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: IPTV Xtream Codes/XUI One playlists player by KiddaC
Depends:
Source: https://www.linuxsat-support.com
